@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

html, body {
    background-color: lightblue;
    height: 100%;
}

h1 {
    color: darkslateblue;
    text-align: center;
    font-family: 'Nunito', serif;
    font-weight: 800;
    font-size: 40px;
}

h3 {
    color: darkslateblue;
    text-align: center;
    font-family: 'Nunito', serif;
    font-weight: 400;
    font-size: 20px;
}

p {
    font-family: verdana, serif;
    font-size: 20px;
}

.boxed {
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  height: 200px;
  width: 50%;
  border: 2px
  solid darkslateblue ;
  background-color: black;
  color: white;
}
