<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoBlogger</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main>
    <li class="nav-item" style="list-style-type: none;">
        <a class="button" href="/">
            Home
        </a>
    </li>
    <h1>AutoBlogger</h1>
    <h3>The Daily Blogger, No Human Required</h3>
    <h2>Archive Page</h2>
    <form class="boxed" style="border-radius:10px;" action="/" method="get">
    <% file.forEach(element => { %>
    <button name='post' type='submit' value='<%= element %>'>
        <%= element %>
    </button>
        <br> <br>
    <% }); %>
    </form>
</main>
</body>
</html>
