<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <style>
  .square {
    height: 500px;
    width: 500px;
    background-color: #555;
  }
  </style>
  <body>
    <main>
        <button type="button" class = "button">Archive</button>
        <h1>AutoBlogger</h1>
        <h3>The Daily Blogger, No Human Required</h3>
        <p class="boxed"><img src="<%= picture %>"  ALIGN=right width="300" height="180"><%= text %></p>
    </main>
  </body>
</html>
