@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

html, body {
    background-color: lightblue;
    height: 100%;
}

h1 {
    color: darkslateblue;
    text-align: center;
    font-family: 'Nunito', serif;
    font-weight: 800;
    font-size: 40px;
    margin: 0;
}

h2 {
    color: darkslateblue;
    text-align: center;
    font-family: 'Nunito', serif;
    font-weight:620;
    font-size: 30px;
}

h3 {
    color: darkslateblue;
    text-align: center;
    font-family: 'Nunito', serif;
    font-weight: 400;
    font-size: 20px;
}

h4 {
    color: darkslateblue;
    text-align: center;
    font-family: 'Nunito', serif;
    font-weight: 600;
    font-size: 20px;
    height: 0px;
}

p {
    font-family: verdana, serif;
    font-size: 20px;
}

.button {
  margin-left: auto;
  background-color: darkslateblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.titleboxed {
  text-align: center;
  font-size: 22px;
  margin: auto;
  font-family: verdana, serif;
  border-radius: 10px 10px 0px 0px;
  padding: 2rem;
  height: 3rem;
  width: 80%;
  border: 2px solid darkslateblue ;
  background-color: black;
  color: white;
}

.boxed {
  /*display: flex;*/
  align-items: start;
  /*text-align: left;*/
  justify-items: left;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
  padding: 2rem;
  height: 80rem;
  width: 80%;
  border: 2px solid darkslateblue ;
  background-color: black;
  color: white;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.rate {
  float:right;
  height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#c6bebe;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
